<div class="container" style="margin-top: 5%;">
    <div class="row justify-content-center">
        <div class="col-lg-2" >
            <input type="text">
            <button style="margin-left:35% ;">Search</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6" >
            <table class="table">
                <thead>
                    <tr>
                <th>Emp id</th>
                <th>Emp Name</th>
                <th>Department</th>
                <th>Salary</th>
            </tr>
            </thead>
            <tbody>
                <tr (click)="search(emp)" *ngFor="let emp of empInfo">
                    <td>{{emp.empid}}</td>
                    <td>{{emp.empname}}</td>
                    <td>{{emp.empdept}}</td>
                    <td>{{emp.empsal}}</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    </div>
    